/01/.cache
/01/build
/01/compile_commands.json
/02/.cache
/02/.vscode
/02/build
/02/build/compile_commands.json
/02/compile_commands.json
/03/build
/03/compile_commands.json
/03/.cache
/03/.vscode
/04/build/compile_commands.json
/04/build
/04/.cache
/05/.cache
/05/build
/05/compile_commands.json
/04/compile_commands.json
